{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <form method='post' action="{% url 'programmers' %}" class='row'>
        {% csrf_token %}
        {% include 'leftbox.html' %}
        <div class='col-lg-2'></div>
        {% if score %}
        <div class='col-lg-5 mt-3'>
            <div class='my-5'></div>
            <h2>{{ score }}</h2>
            <div class='my-5'></div>
        </div>
        {% else %}
        <div class='col-lg-5 mt-3'>
            {% include "form_errors.html" %}
            <div class='my-5'></div>
            <div class="mb-3">
                <label for="id">사용자ID</label>
                <input type="text" class="form-control" name="id" id="id"
                    value="{{ form.id.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="pw">비밀번호</label>
                <input type="password" class="form-control" name="pw" id="pw"
                    value="{{ form.pw.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
            <div class='my-5'></div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}