{% extends 'base.html' %}
{% block content %}
<div class='col-lg-10 my-5' style='float: none; margin:0 auto;'>
    {% if cube_list %}
    <p>{{ character_name }} 캐릭터가 있는 계정에 대한</p>
    <p>"{{ startdate }}" ~ "{{ lastdate }}" 데이터가 있습니다.</p>
    <p>갱신하시겠습니까?</p>
    <form action="{% url 'apitest:cubeinfo' %}" method='post'>
        {% csrf_token %}
        <input type='hidden' name='Key' id='Key'
        value={{userkey}}>
        <button type='submit' name='update' href='javascript:void(0)' class='update' 
        data-uri="{% url 'apitest:cubeinfo' %}">갱신</button>
    </form>
    {% else %}
    <p>큐브사용내역이 존재하지 않습니다</p>
    <p>사용내역을 업데이트 해주세요</p>
    <p>갱신해도 큐브사용내역이 없을 경우 실제 큐브 사용내역이 없거나 문의주세요</p>
    <form action="{% url 'apitest:cubeinfo' %}" method='post'>
        {% csrf_token %}
        <input type='hidden' name='Key' id='Key'
        value={{userkey}}>
        <button type='submit' name='update' href='javascript:void(0)' class='update' 
        data-uri="{% url 'apitest:cubeinfo' %}">업데이트</button>
    </form>
    {% endif %}
</div>
<div class='col-lg-10 my-3 card' style='float: none; margin:0 auto;'>
    <h4>캐릭터, 큐브 전부 체크 해제하고 조회하면 전체 조회됩니다.</h4>
    <form action="{% url 'apitest:cubeinfo' %}" method='post'>
        {% csrf_token %}
        <input type='hidden' name='Key' id='Key'
        value={{userkey}}>
        <h3>캐릭터</h3>
        <div class='row my-2'>
        {% for c in character_list %}
            <div class='col-lg-2'>
                <p>{{c}}</p>
                <input type="checkbox" name='charactor_filter' value='{{c}}'>
            </div>
        {% endfor %}
        </div>
        <h3>큐브</h3>
        <div class='row my-2'>
        {% for c in cube_list %}
            <div class='col-lg-2'>
                <p>{{c}}</p>
                <input type="checkbox" name='cube_filter' value='{{c}}'>
            </div>
        {% endfor %}
        </div>
        <button type='submit' name='filtering'>조회</button>
    </form>
</div>
{% if comment == '' %}
<div class='col-lg-10 row' style='float: none; margin:0 auto;'>
    <div class='col-lg-9'>
        {% for ch in cubehistory %}
        <div class='card my-2'>
            <div>
                <p>닉네임 : {{ ch.character_name }} / 큐브 사용 날짜 : {{ ch.create_date }}</p>
            </div>
            <div class='row'>
                <div class='col-lg-3 mx-1'>
                    <p>아이템 : {{ ch.target_item }}</p>
                    <p>큐브 : {{ ch.cube_type }} </p>
                </div>
                <div class='col-lg-4 mx-1'>
                    <h1>Before</h1>
                    <p class='{{ ch.before_options_grade1 }}'>옵션1 : {{ ch.before_options_value1 }}</p>
                    <p class='{{ ch.before_options_grade2 }}'>옵션2 : {{ ch.before_options_value2 }}</p>
                    {% if ch.before_options_value3 %}
                    <p class='{{ ch.before_options_grade3 }}'>옵션3 : {{ ch.before_options_value3 }}</p>
                    {% endif %}
                </div>
                <div class='col-lg-4 mx-1'>
                    <h1>After</h1>
                    <p class='{{ ch.after_options_grade1 }}'>옵션1 : {{ ch.after_options_value1 }}</p>
                    <p class='{{ ch.after_options_grade2 }}'>옵션2 : {{ ch.after_options_value2 }}</p>
                    {% if ch.after_options_value3 %}
                    <p class='{{ ch.after_options_grade3 }}'>옵션3 : {{ ch.after_options_value3 }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class='col-lg-3' style='float: none; margin:0 auto;'>
        <h1>통계</h1>
        <h3>사용량</h3>
        <p>수상한 큐브  : {{ cc }}</p>
        <p>장인의 큐브  : {{ jc }}</p>
        <p>명장의 큐브  : {{ mc }}</p>
        <p>레드 큐브  : {{ rc }}</p>
        <p>블랙 큐브  : {{ bc }}</p>
        <p>이벤트링 전용 명장의 큐브  : {{ emc }}</p>
        <p>수상한 에디셔널 큐브  : {{ cac }}</p>
        <p>에디셔널 큐브  : {{ ac }}</p>
        <p>화이트 에디셔널 큐브  : {{ wac }}</p>
    </div>
</div>
{% else %}
<div class='col-lg-10' style='float: none; margin:0 auto;'>
    <h2>{{comment}}</h2>
</div>
{% endif %}
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const update_elements = document.getElementsByClassName('update');
    Array.from(update_elements).forEach(function(element) {
        element.addEventListener('click',function() {
            if(confirm('업데이트 하시겠습니까?')) {
                location.href = this.dataset.uri
            };
        });
    });
</script>
{% endblock %}