{% extends 'base.html' %}
{% comment %} {% load blog_filter %} {% endcomment %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- 왼쪽 박스들 -->
        {% include  "leftbox.html" %}
        <!-- 메인박스들 -->
        <div class='col-lg-9'>
            <!-- 제목 -->
            <div class='card mb-4'>
                <h2 class='my-2 mx-2'>{{ post.title }}</h2>
                <h4 class='text-lg-end mx-2 my-1'>작성자 : {{ post.author.username }}</h4>
                <p class='text-lg-end mx-2 my-1'>작성시간 : {{ post.create_date }}</p>
                {% if request.user == post.author %}
                <div>
                <a href="{% url 'blog:post_modify' post.id %}" class='btn btn-sm btn-outline-secondary w-25 mx-2 my-1 float-end'>수정하기</a>
                </div>
                {% endif %}
            </div>
            <!-- 내용 -->
            <div class='card mb-4'>
                <div class='card-body'>
                    <div class='card-text'>
                        {{ post.content }}
                        <p>.</p>
                        {% if post.image %}
                        {% for i in post.image.all %}
                        <img src='{{i.image.url}}' class='mb-2 mt-2' style="width: 100%; height:auto;"/>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- 댓글 -->
            <div class='card mb-4'>
                <div class='card-body'>
                    <h4>여긴 댓글</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}