{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>JunHee Blog</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <!--header 헤더-->
    <header class="py-4 bg-light border-bottom mb-2">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">내가 만든 장고~</h1>
                <p class="lead mb-0">by.이준희</p>
            </div>
        </div>
    </header>
    <!--navbar 네비게이션바-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <div class="container">
            <a class="navbar-brand" href="/">JunHee</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">소개</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog">블로그</a></li>
                    <li class="nav-item"><a class="nav-link" href="/freeboard">자유게시판</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; My Website 2023</p></div>
            <p class="m-0 text-center text-white">email : reborn37@naver.com</p>
            <p class="m-0 text-center text-white">phone : 010-9569-****</p>
    </footer>
<!-- Bootstrap JS -->

<!-- 자바스크립트 Start -->
{% block script %}
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("button_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>