<!-- 왼쪽 박스들 -->
<div class="col-lg-3">
    <!-- 회원정보 -->
    <div class="card mb-4">
        <div class="card-header">회원정보</div>
        {% if user.is_authenticated %}
        <a class='card-body py-2' href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
        <p class='card-body mb-0 py-2'>게시글수 : 예정</p>
        <p class='card-body mb-0 py-2'>댓글수 : 예정</p>
        {% else %}
        <div class='column py-3 text-center'>
            <a class='card-body' href="{% url 'common:login' %}">로그인</a>
            <a class='card-body' href="{% url 'common:signup' %}">회원가입</a>
        </div>
        {% endif %}
    </div>
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header mb-2">검색</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="검색할 내용" aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">검색!</button>
            </div>
        </div>
    </div>
    <div class='card mb-4'>
        <a href="{% url 'blog:post_create' %}" class="btn btn-primary">글쓰기</a>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!">Python</a></li>
                        <li><a href="#!">SQL</a></li>
                        <li><a href="#!">Django</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>